<ion-grid>
  <ion-row>
    <ion-col>
      <ion-label>Todos</ion-label>
      <br>
      <ion-button (click)="addTodo($event)">Add Todo</ion-button>
      <ion-list>
        <ion-item *ngFor="let todo of todos" >
            <ion-checkbox (ionChange)="onTodoChecked($event, todo)"></ion-checkbox>
            <ion-input *ngIf="!todo.isDone" placeholder="type your todo here..." [value]="todo.title" (ionInput)="onInputTyped($event, todo)"></ion-input>
            <ion-text *ngIf="todo.isDone" class="strikethrough"> {{ todo.title }} </ion-text>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
